<div class="col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-12">
<h1>Editing Status</h1>
</div>
<%= render 'form' %>

<div style="margin-top: 20px;" class="col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-12">
<%= link_to 'Show', @status, :class => 'btn btn-success' %> |
<%= link_to 'Back', statuses_path, :class => 'btn btn-default' %>
</div>