<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>HEYOU <%= @friend.first_name %></h1>

<p>You were FriendZoned by <%= @user.first_name %>. Isn't that GREAT?</p>

<p>Peace.</p>
</body>
</html>
