<div class="col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-12">

<h1>Edit</h1>

<%= render 'form' %>
</div>
<div style="margin-top: 20px;" class="col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12 col-md-offset-1 col-md-12">

<%= link_to 'Show', album_picture_path(@album, @picture), class: 'btn btn-primary' %> |
<%= link_to 'Back', album_pictures_path(@album),class: 'btn btn-default' %>
</div>