<div class="footer-container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="padding-left: 0;padding-right: 0;">
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Friend<span>Face</span></h3>

        <p class="footer-links">
          <a href="<%= '/'%>">Home</a>
          ·
          <a href="<%= '/'%>">Front page</a>
          ·
          <a href="<%= '/'%>">About</a>
        </p>

        <p class="footer-company-name">PV249 &copy; <%= Time.now.year %></p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Botanická</span> Brno, Czech Rep.</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+421 910 219 342</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:MatejCH.work@gmail.com">MatejCH.work@gmail.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span class="aboutus">About Us</span>
          <span class="wholename">Matej <span class="surname">Chalachán</span></span> <br>
          <span class="wholename">Tomáš <span class="surname">Truben</span></span> <br>
          <span class="wholename">Vladislav <span class="surname">Krejčí</span></span>
        </p>

        <div class="footer-icons">

          <a href="https://twitter.com/matej_ch"><i class="fa fa-twitter"></i></a>
          <a href="https://cz.linkedin.com/in/matejchalachan" title="Matej Chalachan"><i class="fa fa-linkedin"></i></a>
          <a href="https://cz.linkedin.com/in/tomastruben" title="Tomas Truben"><i class="fa fa-linkedin"></i></a>
          <a href="https://cz.linkedin.com/in/krejcivlado/en"  title="Vladislav Krejci"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/Matej-ch/PV249-final-project"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>
</div>
  </div>
</div>